<div class="il-dialog" fxLayout="column" fxLayoutAlign="center center">
  <div class="header" fxLayoutAlign="end end" fxLayout="row">
    <div fxLayout="row">
      <div fxFlex fxFlexOffset="20px">
        <h4>{{ actionText[data?.action] }} {{ 'CUSTOMER' }}</h4>
      </div>
      <div fxFlex="20px"><i pTooltip="Close" tooltipPosition="top" (click)="dialogRef.close(false)" class="pi pi-times"></i></div>
    </div>
  </div>
  <div class="content" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
    <p-tabView>
      <p-tabPanel header="General Info">
        <div fxLayout="row" fxLayoutGap="20px">
          <il-dropdown-select fxFlex="50" label="Subscriptions" [form]="form" controlName="subscription" [options]="subscriptions"></il-dropdown-select>
          <div fxFlex="50"></div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <div>
            <label>{{ 'Firstname' }}</label>
            <il-input [form]="getCustomerInformationForm" placeholder="Firstname" controlName="firstname"></il-input>
          </div>
          <div>
            <label>{{ 'Lastname' }}</label>
            <il-input [form]="getCustomerInformationForm" placeholder="Lastname" controlName="lastname"></il-input>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <div>
            <label>{{ 'Username/Email' }}</label>
            <il-input-email [form]="getEmailPasswordForm" placeholder="Username/Email" type="email" controlName="username"></il-input-email>
          </div>
          <div>
            <label>{{ 'Password' }}</label>
            <il-input-password [form]="getEmailPasswordForm" placeholder="Password" controlName="password"></il-input-password>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <div>
            <label>{{ 'Phone Number' }}</label>
            <il-input [form]="getCustomerInformationForm" placeholder="Phone Number" controlName="phone_number"></il-input>
          </div>
          <div>
            <label>{{ 'Address' }}</label>
            <il-input [form]="getCustomerInformationForm" placeholder="Address" controlName="address"></il-input>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <div>
            <label>{{ 'Company Name' }}</label>
            <il-input [form]="getCustomerInformationForm" placeholder="Company Name" controlName="company_name"></il-input>
          </div>
          <div>
            <label>{{ 'Company Address' }}</label>
            <il-input [form]="getCustomerInformationForm" placeholder="Company Address" controlName="company_address"></il-input>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <div>
            <il-dropdown-select label="Language" [form]="getCustomerInformationForm" controlName="language" [options]="languageOptions"></il-dropdown-select>
          </div>
          <div>
            <label>{{ 'Website URL' }}</label>
            <il-input [form]="getCustomerInformationForm" placeholder="Website URL" controlName="website_url"></il-input>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <div>
            <label>{{ 'API URL' }}</label>
            <il-input [form]="getCustomerInformationForm" placeholder="API URL" controlName="api_url"></il-input>
          </div>
          <div>
            <label>{{ 'Datebase Name' }}</label>
            <il-input [form]="getCustomerInformationForm" placeholder="Datebase Name" controlName="database_name"></il-input>
          </div>
        </div>
      </p-tabPanel>

      <p-tabPanel header="Users">
        <p-table responsiveLayout="stack" [value]="getCustomerUsersFormValues" [scrollable]="true" scrollHeight="256px">
          <ng-template pTemplate="header">
            <tr>
              <th fxFlex="30">Username</th>
              <th fxFlex="30">Roles</th>
              <th fxFlex="30">Access</th>
              <th fxFlex="70px" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td fxFlex="30">{{user?.username}}</td>
              <td fxFlex="30">
                <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="5px">
                  <span *ngFor="let role of getRoles(user?.roles)" class="badge default">
                    {{ role?.label | titlecase }}
                  </span>
                </div>
              </td>
              <td fxFlex="30">
                <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="5px">
                  <span *ngFor="let access of getAccesses(user?.accesses)" class="badge default">
                    {{ access?.label | titlecase }}
                  </span>
                </div>
              </td>
              <td fxFlex="70px">
                <div class="actions-icon">
                  <i (click)="onEditCustomerUser(user?.id)" pTooltip="Edit" tooltipPosition="top" class="pi pi-pencil"></i>
                  <i (click)="onDeleteCustomerUser(user)" pTooltip="Delete" tooltipPosition="top" class="pi pi-times"></i>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <div class="actions" fxLayout="row" fxLayoutAlign="end center">
          <div fxFlex>
            <div fxLayout="row" fxLayoutAlign="start center" *ngIf="!subscriberMaxUserReached"><i class="pi pi-info-circle"></i> Your plan is {{subscriber?.name}} with a limit of {{ subscriber?.max_users }} users.</div>
            <div *ngIf="subscriberMaxUserReached" class="notice"><i class="pi pi-times-circle"></i> Max users reached, please upgrade your Subscription.</div>
          </div>
          <button [disabled]="subscriberMaxUserReached" (click)="onAddCustomerUser()" pButton type="button" class="default semi-medium" label="Add a User"></button>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="footer">
    <button (click)="dialogRef.close(false)" pButton type="button" class="default medium" label="CANCEL"></button>
    <button [disabled]="!form.valid" (click)="onAdd()" pButton type="button" class="purple medium" [label]="actionText[data?.action]"></button>
  </div>
</div>