<div fxLayout="row" class="top-nav fade-in" fxLayoutAlign="start center" fxLayoutGap="20px">
  <div fxFlex fxLayoutAlign="start center">
    <div class="menu-box logo" fxFlex="10">
      <img [src]="imgPath + 'logo.png'" />
    </div>
    <ng-container *ngFor="let menu of menus; let i = index">
      <div class="menu-box" [routerLink]="menu?.value" fxFlex="25" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}">{{ menu?.label }}</div>
    </ng-container>
  </div>
  <div fxFlex="20" fxLayoutAlign="end center" fxLayoutGap="40px">
    <div fxLayoutAlign="end center">
    </div>
    <div class="settings" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <img class="profile-pic" [src]="getProfilePic" />
      <div class="username" fxLayout="row" fxLayoutAlign="start center" [matMenuTriggerFor]="menu">Customer</div>
      <i class="pi pi-chevron-down" [matMenuTriggerFor]="menu"></i>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>{{ 'Settings' }}</button>
        <button mat-menu-item>{{ 'Change Password' }}</button>
        <button mat-menu-item (click)="onLogout()">{{ 'Logout' }}</button>
      </mat-menu>
    </div>
  </div>
</div>