
@import "src/styleguide/shared";
.card {
  div {
    width: 100%;
  }
}
:host ::ng-deep {
  .p-datatable .p-datatable-tbody > tr > td,
  .p-datatable .p-datatable-thead > tr > th {
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      min-width: 120px;
    }
    &:last-child {
      width: 10px;
    }
  }
}