
.p-multiselect-panel {
  .p-multiselect-header .p-multiselect-filter-container .p-inputtext {
    padding-right: 1.5rem;
    max-height: 35px;
  }
}
.p-multiselect-label {
  display: flex !important;
  align-items: center;
  align-content: center;
  position: relative;
  top: -1px;
}