@mixin il-input {
  .read-only {
    input {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
}
.p-inputtext {
  width: 100%;
  font-size: 0.85rem;
  color: $color-black-0;
}
input {
  &:read-only {
    background-color: $color-gray-4;
    cursor: not-allowed;
  }
}