@import "src/styleguide/shared";
.content {
  padding: 15px 10px 0 10px;
  > div {
    flex-direction: row;
    display: flex;
  }
}
.header {
  width: 100%;
  padding: 15px 10px 10px 10px;
  border-bottom: thin $color-gray-3 solid;
  > div {
    display: flex;
    align-items: center;
    align-content: center;
    height: 30px;
    width: 100%;
    &:first-child {
      text-align: center;
    }
  }
}
.pi-times {
  color: $color-black-3;
  cursor: pointer;
  &:hover {
    color: $color-blue;
  }
}
label {
  font-size: 12px;
  font-weight: 500;
  color: $color-black-2;
}
.footer {
  margin: 20px;
  width: 100%;
  border-top: thin $color-gray-3 solid;
  padding-top: 20px;
}
:host ::ng-deep {
  .p-multiselect, .p-inputtext {
    width: 199px;
  }
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}