
@import "src/styleguide/shared";
.card {
  margin-top: 85px;
  padding: 5px 30px;
  div {
    width: 100%;
  }
}
:host ::ng-deep {
  .p-datatable .p-datatable-tbody > tr > td,
  .p-datatable .p-datatable-thead > tr > th {
    &:last-child {
      width: 10px;
    }
  }
}