
@import "src/styleguide/shared";
.card {
  margin-top: 85px;
  padding: 5px 30px;
  div {
    width: 100%;
  }
}
.pi-ellipsis-v {
  cursor: pointer;
  &:hover {
    color: $color-purple !important;
  }
}
:host ::ng-deep {
  p-table {
    width: 100%;
  }
  .p-datatable .p-datatable-tbody > tr > td {
    font-size: 0.9rem;
    padding: 0.5rem;
    &:last-child {
      width: 10px;
    }
  }
  .p-datatable .p-datatable-thead > tr > th {
    font-size: 0.9rem;
    padding: 0.5rem;
    &:last-child {
      width: 10px;
    }
  }
}