<div class="card" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
  <p-table [value]="customers" [paginator]="true" [rows]="10" responsiveLayout="scroll"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
    selectionMode="single">
    <ng-template pTemplate="header">
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Company Name</th>
        <th>API Url</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr class="p-selectable-row">
        <td>{{ customer?.username }}</td>
        <td>{{ customer?.firstname }} {{ customer?.lastname }}</td>
        <td>{{ customer?.company_name }}</td>
        <td>{{ customer?.api_url }}</td>
        <td>
          <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
            <button (click)="onResetData(customer)" pButton type="button" class="purple medium" label="RESET DATA"></button>
            <button (click)="onResetStatus(customer)" pButton type="button" class="default medium" label="RESET STATUS"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>