@import "src/styleguide/shared";
.content {
  width: 100%;
  padding: 0.5rem 1rem 1rem;
  > div {
    flex-direction: row;
    display: flex;
  }
  div {
    width: 100%;
  }
}
.header {
  width: 100%;
  padding: 15px 10px 10px 10px;
  border-bottom: thin $color-gray-3 solid;
  > div {
    display: flex;
    align-items: center;
    align-content: center;
    height: 30px;
    width: 100%;
    &:first-child {
      text-align: center;
    }
  }
}
.actions {
  height: 50px;
}
.pi-times {
  color: $color-black-3;
  cursor: pointer;
  &:hover {
    color: $color-blue;
  }
}
label {
  font-size: 12px;
  font-weight: 500;
  color: $color-black-2;
}
.footer {
  width: 100%;
  border-top: thin $color-gray-3 solid;
  padding-top: 20px;
  padding-left: 20px;
}
:host ::ng-deep {
  .p-multiselect-panel .p-multiselect-items:not(.p-multiselect-virtualscroll) {
    padding: 0 !important;
  }
  .p-multiselect, p-multiselect, il-dropdown-multi-select {
    width: 100% !important;
  }
}