<div *ngIf="($users | async) as users" class="customer-table-container" fxLayout="column" fxLayoutAlign="start start">
  <p-table #dt1 [value]="users" dataKey="id" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-customers p-datatable-gridlines" [paginator]="true" selectionMode="single"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [globalFilterFields]="['name','date','email','status']">
    <ng-template pTemplate="caption">
      <div fxLayout="row" fxFlex="100">
        <div fxFlex="50" fxLayout="row" fxLayoutAlign="start center">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Search keyword" />
          </span>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
          <button (click)="onInvite()" pButton type="button" class="purple medium" label="INVITE"><i class="pi pi-send"></i></button>
          <button (click)="onAddCustomer()" pButton type="button" class="primary medium" label="NEW"><i class="pi pi-plus"></i></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let header of columnHeaders">
          <div class="p-d-flex">
            <span>{{ header?.label }}</span>
            <p-columnFilter type="date" [field]="header?.value" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex">
            <div fxLayout="row" fxLayoutAlign="center center">Actions</div>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr>
        <td *ngFor="let header of columnHeaders; let i = index">
          <span *ngIf="i === 0">{{customer[header?.value] | date: 'dd/MM/yyyy' }}</span>
          <span *ngIf="i !== 0 && i !== 6">{{customer[header?.value] | titlecase }}</span>
          <span *ngIf="i === 6">{{ userStatusType[0] }}</span>
        </td>
        <td>
          <div class="actions" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
            <i pTooltip="Approve" (click)="onApprove()" tooltipPosition="top" class="pi pi-check"></i>
            <i pTooltip="Edit" (click)="onEditCustomer()" tooltipPosition="top" class="pi pi-pencil"></i>
            <i pTooltip="Delete" (click)="onDelete()" tooltipPosition="top" class="pi pi-trash"></i>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>