@import "src/styleguide/shared";
.customer-table-container {
  margin-top: 70px;
}
.actions {
  div {
    width: 33%;
  }
  i {
    cursor: pointer;
    color: $color-gray-1;
    &:hover {
      color: $color-blue;
    }
  }
}
.status {
  padding: 2px 7px;
  background-color: $color-gray-4;
  border-radius: 20px;
  font-size: 0.7rem;
  font-weight: 500;
  &.approved {
    background-color: $color-green;
    color: $color-white;
  }
}
.pi-plus {
  position: relative;
  top: 1px;
}
:host ::ng-deep {
  .p-input-icon-left, .p-input-icon-right {
    width: 100%;
  }
  .p-column-filter-overlay-menu .p-column-filter-add-rule {
    display: none !important;
  }
  .p-datatable .p-datatable-tbody > tr > td,
  .p-datatable .p-datatable-thead > tr > th {
    padding: 0.56rem;
    font-size: 0.86rem;
    vertical-align: top;
    .p-d-flex {
      display: flex;
      align-items: center;
      align-content: center;
      flex-direction: column;
    }
    &:last-child {
      max-width: 140px !important;
      width: 140px !important;
    }
  }
  .p-datatable-customers {
    padding: 20px;
  }
  p-table {
    width: 100% !important;
  }
}