@import "./styleguide/shared";
html,
body {
  margin: 0;
  width: 100%;
  outline: none;
  font-family: "Roboto", sans-serif;
  height: 100%;
  min-height: 100%;
  background-color: #f2f5f8;
}
a,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  margin: 0;
  color: $color-black-2;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 0.86rem;
  font-weight: 550;
}
.hidden {
  display: none !important;
  transition: all 0.5s ease-in;
  opacity: 0;
}
img.close {
  cursor: pointer;
}
*:focus {
  outline: none;
}
.no-records {
  color: $color-gray-1;
  font-size: 24px;
  font-size: 14px;
}
.mat-form-field {
  width: 100%;
}
.mat-menu-panel {
  min-height: 40px !important;
}
.ui-widget-overlay {
  z-index: 99999 !important;
}
.ui-widget-overlay.ui-sidebar-mask {
  opacity: 0 !important;
  display: none;
  z-index: 999 !important;
}
img.logo {
  height: 50px;
  margin-bottom: 10px;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.p-blockui {
  z-index: 99999 !important;
}