<div class="il-dialog" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayoutAlign="end center" fxLayout="row">
    <div fxLayoutAlign="end center">
      <i (click)="dialogRef.close(false)" class="pi pi-times"></i>
    </div>
  </div>
  <div class="content" fxLayout="row" fxLayoutAlign="center center">
    <h3>{{ actionText[data?.action]?.message }}</h3>
  </div>
  <div class="footer" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <button (click)="dialogRef.close(false)" pButton type="button" class="default medium" label="CANCEL"></button>
    <button (click)="dialogRef.close(true)" pButton type="button" class="primary medium" label="{{ actionText[data?.action]?.label }}"></button>
  </div>
</div>